{% extends "base.html" %}
{% block body %}
<div class="content">
<h2 class="content-subhead">Decode Base64 Encoded File</h2>
<form action="" method="POST" class="pure-form pure-form-stacked">
    <fieldset>
        {{ form.csrf_token }}

        <div class="pure-control-group">
            {{ form.content.label }}
        {#- required=true is to add the required attribue changing true to false does nothing #}
            {{ form.content(rows=10, class_='pure-input-1', required='true') }}
        </div>

        <div class="pure-control-group">
            {{ form.filename.label }}
            {{ form.filename }}
        </div>
        
        <button class="pure-button pure-button-primary" type=submit>Go!</button>
    </fieldset>
</form>
</div>
{% endblock %}
