{% extends "base.html" %}

{% block title %}Toolkit - Table Maker{% endblock %}

{% block body %}
<div class="content">
<h2 class="content-subhead">Table Maker</h2>
<form action="" method="POST" class="pure-form pure-form-stacked">
    <fieldset>
        {{ form.csrf_token }}

        <div class="pure-g">
            <div class="pure-control-group pure-u-1 pure-u-md-1">
                {{ form.csv_string.label }}
            {#- required=true is to add the required attribue changing true to false does nothing #}
                {{ form.csv_string(rows=10, class_='pure-input-1', required='true') }}
            </div>

            <div class="pure-control-group pure-u-1-3 pure-u-md-1-3">
                {{ form.table_align.label }}
                {{ form.table_align }}
            </div>

            <div class="pure-control-group pure-u-1-3 pure-u-md-1-3">
                {{ form.add_header.label }}
                {{ form.add_header }}
            </div>
        </div>

        <button class="pure-button pure-button-primary" type=submit>Go!</button>
    </fieldset>
</form>
</div>
{% endblock %}
